@use "./../../foundation/variable" as *;

.p-concept {
	&__content {
		display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 640px;
    margin: 0 auto 24px;
	}
	&__list {
    display: grid;
    row-gap: 16px;
	}

  @include breakpoint(tablet) {
	}
  @include breakpoint(pc) {
    &__list {
      display: grid;
      column-gap: 16px;
      grid-template-columns: repeat(3, 1fr);
    }      
	}

  &__item {
    border-radius: 16px;
    background-color: $color-white;
    box-shadow: $shadow-base;
    padding: 16px 16px 24px;
		display: flex;
    align-items: center;
    flex-direction: column;

    h3 {
      text-align: center;
      font-size: 1.25rem;
      color: $color-primary;
      font-weight: 700;
      margin-bottom: 16px;
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 24px;
    }

    p {
      flex-grow: 1;
      margin-bottom: 24px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      &:after {
        content: '';
        margin-left: 8px;
        width: 10px;
        height: 10px;
        border-top: 2px solid $color-primary;
        border-right: 2px solid $color-primary;
        transform: rotate(45deg);
      }
    }
  }
  
}
