@use "./../../foundation/variable" as *;

.p-concept {
	&__content {
		display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 480px;
    margin: 0 auto 24px;
	}
	&__list {
    display: grid;
    row-gap: 16px;
	}

  @include breakpoint(tablet) {
	}
  @include breakpoint(pc) {
    &__list {
      display: grid;
      column-gap: 16px;
      grid-template-columns: repeat(3, 1fr);
    }      
	}

  &__item {
    border-radius: 16px;
    background-color: $color-white;
    box-shadow: $shadow-base;
    padding: 16px 16px 24px;
		display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h3 {
      text-align: center;
      font-size: 1.25rem;
      color: $color-primary;
      font-weight: 700;
      margin-bottom: 16px;
    }

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 24px;
    }
  }
  
}
