@use "./../../foundation/variable" as *;

.p-fv {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  height: 560px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(https://kobayashi555.netlify.app/asset/img/night-sky.webp);
}



