@use "./../../foundation/variable" as *;

.p-fv {
  color: $color-white;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;

  background-attachment: fixed;


  background-image: url(https://kobayashi555.netlify.app/asset/img/night-sky.webp);

  &__text-bg-color{
    background-color: #fff;
  }

  &__content {
		display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 460px;

    img {
      width: 120px;
      height: 120px;
      border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
      margin-bottom: 24px;
    }
		h1 {
      text-align: center;
			font-size: 2rem;
      font-weight: 700;
			margin-bottom: 8px;
		}
		p {
      text-align: center;
			font-size: 1.5rem;
      font-weight: 400;
			margin-bottom: 24px;
		}
	}
}
