@use "./../../foundation/variable" as *;

.p-overview {
	&__content {
		display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 640px;
    margin: 0 auto;
	}
}