@use "./../../foundation/variable" as *;

.c-button {
	display: inline-block;
	padding: 8px 24px;
	color: $color-base;
	background-color: $color-primary;
	border: solid 1px $color-primary;
	border-radius: 16px;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		color: $color-primary-light;
	}
}