@use "./../foundation/variable" as *;

.l-footer {
  background-color: $color-white;
  border-top: 1px solid $color-border;
  width: 100%;
  padding: 1.5rem;
  margin-top: auto;

  &__content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint(pc) {
    &__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__copy {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 150%;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__copyright-sp {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 150%;
    text-align: center;
    margin-top: 1rem;
    display: block;
  }

  &__copyright-pc {
    display: none;
  }

  @include breakpoint(pc) {
    &__copy {
      text-align: left;
      margin-bottom: 0;
    }
    &__copyright-sp {
      display: none;
    }
    &__copyright-pc {
      font-weight: 400;
      font-size: 0.625rem;
      line-height: 150%;
      text-align: left;
      margin-top: 1rem;
      display: block;
    }
  }

  &__logo {
    display: inline-block;
    max-width: 257px;
  }
}