@use "./../../foundation/variable" as *;

// フェードアップのアニメーション
.u-fade-in-trigger {
  opacity: 0;
}

.u-fade-in {
  animation-name: fade-in-anime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
  opacity: 0;
}

@keyframes fade-in-anime{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// フェードアップのアニメーション
.u-fade-up-trigger {
  opacity: 0;
}

.u-fade-up {
  animation-name: fade-up-anime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-up-anime{
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// フェードレフトのアニメーション
.u-fade-left-trigger {
  opacity: 0;
}

.u-fade-left {
  animation-name: fade-left-anime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-left-anime{
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// フェードライトのアニメーション
.u-fade-right-trigger {
  opacity: 0;
}

.u-fade-right {
  animation-name: fade-right-anime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-right-anime{
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// ディレイ
@include breakpoint(pc) {
  .u-delay-02 {
    animation-delay: .2s;
  }
  
  .u-delay-04 {
    animation-delay: .4s;
  }  
}

// 背景スライド(はみ出している箇所を隠す用)
.u-bg-extend {
  animation-name: bg-extend-anime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  overflow: hidden;
  opacity:0;
}

@keyframes bg-extend-anime {
  from {
    opacity:0;
  }
  to {
    opacity:1;  
  }
}

// 背景スライド(中身のアニメーション。スライドアニメーション後に中身を表示)
.u-bg-appear-trigger {
  opacity: 0;
}

.u-bg-appear {
  animation-name: bg-appear-anime;
  animation-duration: 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes bg-appear-anime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// 背景スライド(左右にスライドするアニメーション)
.u-bg-lr-extend-trigger {
  opacity: 0;
}

.u-bg-lr-extend::before {
  animation-name: bg-lr-extend-anime;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.98, -0.04, 0.32, 0.91);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $color-black;
}

@keyframes bg-lr-extend-anime {
  0% {
    transform-origin:left;
    transform:scaleX(0);
  }
  50% {
    transform-origin:left;
    transform:scaleX(1);
  }
  50.001% {
    transform-origin:right;
  }
  100% {
    transform-origin:right;
    transform:scaleX(0);
  }
}




