@use "./../../foundation/variable" as *;

.c-select {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border: 1px solid $color-border;
  border-radius: 6px;
  color: $color-text-100;
  font-size: 1rem;
  line-height: 1.5;
  appearance: none;
  background-image: url('../img/arrow_drop_down.svg');
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
  background-size: 24px 24px;

  &:focus {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }
  &:disabled {
    color: $color-text-300;
    background: $color-disabled;
    border: 1px solid $color-border;
    appearance: none;
    background-image: url('../img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 24px 24px;
  }
  &:invalid {
    outline: 2px solid $color-red;
    background-color: $color-red-light-100;
    appearance: none;
    background-image: url('../img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    background-size: 24px 24px;
  }
}