@use "./../../foundation/variable" as *;

.u-flex {
  display: flex;
}

.u-inline-block {
  display: inline-block;
}

.u-justify-start {
  justify-content: start;
}

.u-justify-end {
  justify-content: end;
}

.u-justify-center {
  justify-content: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-align-start {
  align-items: start;
}

.u-align-end {
  align-items: end;
}

.u-align-center {
  align-items: center;
}

.u-direction-row {
  flex-direction: row;
}

.u-direction-column {
  flex-direction: column;
}
