@use "./../../foundation/variable" as *;

.u-text-center {
  text-align: center;
}

.u-bold-text {
  font-weight: 700;
}

.u-text-x {
  font-size: 1.25rem;
  line-height: 1.5;
}

.u-text-l {
  font-size: 1.125rem;
  line-height: 1.5;
}

.u-text-m {
  font-size: 1rem;
  line-height: 1.5;
}

.u-text-s {
  font-size: 0.875rem;
  line-height: 1.5;
}